{% load static %}
<!DOCTYPE HTML>
<html lang = "es">
    <head>
        <meta charset = "utf-8">
        <title>Piptonita - El mundo del código, los videojuegos y la cultura maker</title>
        <meta name = "description" content = "Sitio web dedicado a la formación en materia de programación, creación de videojuegos y software en general, además de trabajar el ámbito maker">
        <meta name="keywords" content="python, php, javascript, c, c++, c#, arduino, proyectos, DIY, aprende a programar, desarrollo de software, fundamentos de programación, tutoriales">
        <meta name = "author" content = "Guillermo Granados Gómez - Wise Fox">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#901C3A">
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'core/css/style.min.css' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
        <!-- Open Grapth tags & meta twitter cards -->
        {% if curso %}
            <meta property="og:type" content="article" />
            <meta property="og:title" content="{{curso.nombre_curso}}" />
            <meta property="og:url" content="https://piptonita.pythonanywhere.com{{ request.path }}" />
            <meta property="og:image" content="https://piptonita.pythonanywhere.com{{curso.imagen_curso.url}}" />
            <meta property="og:description" content="{{curso.resumen}}">

            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="@piptonita">
            <meta name="twitter:url" content="https://piptonita.pythonanywhere.com{{ request.path }}">
            <meta name="twitter:title" content="{{curso.nombre_curso}}">
            <meta name="twitter:description" content="{{curso.resumen}}">
            <meta name="twitter:image" content="https://piptonita.pythonanywhere.com{{curso.imagen_curso.url}}">
        {% elif paso %}
            <meta property="og:type" content="article" />
            <meta property="og:title" content="{{paso.paso}}" />
            <meta property="og:url" content="https://piptonita.pythonanywhere.com{{ request.path }}" />
            <meta property="og:image" content="https://piptonita.pythonanywhere.com{{capitulo.imagen.url}}" />
            <meta property="og:description" content="{{capitulo.descripcion}}">

            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="@piptonita">
            <meta name="twitter:url" content="https://piptonita.pythonanywhere.com{{ request.path }}">
            <meta name="twitter:title" content="{{paso.paso}}">
            <meta name="twitter:description" content="{{capitulo.descripcion}}">
            <meta name="twitter:image" content="https://piptonita.pythonanywhere.com{{capitulo.imagen.url}}">
        {% elif tutorial %}
            <meta property="og:type" content="article" />
            <meta property="og:title" content="{{tutorial.nombre}}" />
            <meta property="og:url" content="https://piptonita.pythonanywhere.com{{ request.path }}" />
            <meta property="og:image" content="https://piptonita.pythonanywhere.com{{tutorial.imagen.url}}" />
            <meta property="og:description" content="{{tutorial.descripcion}}">

            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="@piptonita">
            <meta name="twitter:url" content="https://piptonita.pythonanywhere.com{{ request.path }}">
            <meta name="twitter:title" content="{{tutorial.nombre}}">
            <meta name="twitter:description" content="{{tutorial.descripcion}}">
            <meta name="twitter:image" content="https://piptonita.pythonanywhere.com{{tutorial.imagen.url}}">
        {% else %}
            <meta property="og:type" content="article" />
            <meta property="og:title" content="Piptonita - El mundo del código, los videojuegos y la cultura maker" />
            <meta property="og:url" content="https://piptonita.pythonanywhere.com{{ request.path }}" />
            <meta property="og:image" content="https://piptonita.pythonanywhere.com/media/entradas/curso_html2.png" />
            <meta property="og:description" content="Sitio web dedicado a la formación en materia de programación, creación de videojuegos y software en general, además de trabajar el ámbito maker">
        
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="@piptonita">
            <meta name="twitter:url" content="https://piptonita.pythonanywhere.com{{ request.path }}">
            <meta name="twitter:title" content="Piptonita - El mundo del código, los videojuegos y la cultura maker">
            <meta name="twitter:description" content="Sitio web dedicado a la formación en materia de programación, creación de videojuegos y software en general, además de trabajar el ámbito maker">
            <meta name="twitter:image" content="https://piptonita.pythonanywhere.com/media/entradas/curso_html2.png">
        {% endif %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165471906-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-165471906-1');
        </script>

    </head>
    <body>
        <header>
            <h1>PIPTONITA</h1>
        </header>
        <nav class="nav-computer">
            <a id="blog" href="{% url 'blog' %}" class="{% if 'blog' in url %}selected{% endif %}">PiptoBlog</a>
            <a href="{% url 'tutoriales' %}" class="{% if 'tutoriales' in url %}selected{% endif %}">PiptoLearn</a>
            <a href="{% url 'proyectos' %}" class="{% if 'proyectos' in url %}selected{% endif %}">PiptoDo</a>
            <a href="{% url 'eventos'%}" class="{% if 'laboratorio' in url %}selected{% endif %}">PiptoLab</a>
            <a href="{% url 'cursos'%}" style="display:none" class="{% if 'cursos' in url %}selected{% endif %}">PiptoSchool</a>
        </nav>
        <nav class="mobile-nav">
            <aside id="mobile-menu" class="mobile-menu mobile-menu-close">
                <a id="blog" href="{% url 'blog' %}" class="{% if 'blog' in url %}selected{% endif %}">PiptoBlog</a>
                <a href="{% url 'tutoriales' %}" class="{% if 'tutoriales' in url %}selected{% endif %}">PiptoLearn</a>
                <a href="{% url 'proyectos' %}" class="{% if 'proyectos' in url %}selected{% endif %}">PiptoDo</a>
                <a href="{% url 'eventos'%}" class="{% if 'laboratorio' in url %}selected{% endif %}">PiptoLab</a>
                <a href="{% url 'cursos'%}" style="display:none" class="{% if 'cursos' in url %}selected{% endif %}">PiptoSchool</a>
            </aside>
            <div id="button-menu" class="button-menu">
                <span id="menu-open" class="menu-open"><p>Menú</p></span>
                <span id="menu-close" class="menu-close"><p>Volver</p></span>
            </div>
            <span class="title">
                <h2>PIPTONITA</h2>
            </span>
        </nav>
        <article>
            <br>
            {% block article %}{% endblock %}
        </article>
        <footer>
            <section id="sitios">
                <h3>Piptoredes</h3>
                <div class="footer-nav">
                    <a href="https://piptocode.github.io" target="_blank">Piptocode</a>
                    <a href="https://github.com/Piptonita" target="_blank">GitHub</a>
                </div>
                <h3>Sígueme</h3>
                <div class="footer-nav socialLinks">
                    <span class="redes">
                        <a href="https://www.youtube.com/channel/UCPIUtc4g0FiYmNwhIUd9iCA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/piptonita" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/guillermogranadosgomez/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="https://www.twitch.tv/piptonita" target="_blank"><i class="fa fa-twitch" aria-hidden="true"></i></a>
                    </span>
                </div>
            </section>
            <section id="sobre">
                <h3>EL AUTOR</h3>
                <span class="foto">
                    <img src="{% static 'core/img/yo.jpeg'%}" alt="Foto personal">
                </span>
                <p>Desarrollador Django y amante del software libre, el mundo maker y los videojuegos clásicos. He creado este sitio web con el propósito de compartir de forma libre mis conocimientos en Ciencias de la Computación.</p>
                <a href="https://github.com/with3g/">sitio web</a>
            </section>
            <section id="mapa">
                <h3>Piptonita</h3>
                <div class="footer-nav">
                    <a id="blog" href="{% url 'blog' %}" class="{% if 'blog' in url %}footer-selected{% endif %}">PiptoBlog</a>
                    <a href="{% url 'tutoriales' %}" class="{% if 'tutoriales' in url %}selected{% endif %}">PiptoLearn</a>
                    <a href="{% url 'proyectos' %}" class="{% if 'proyectos' in url %}selected{% endif %}">PiptoDo</a>
                    <a href="{% url 'eventos'%}" class="{% if 'laboratorio' in url %}selected{% endif %}">PiptoLab</a>
                    <a href="{% url 'cursos'%}" style="display:none" class="{% if 'cursos' in url %}selected{% endif %}">PiptoSchool</a>
                </div>
            </section>
        </footer>
        <section id="licencia">
            <small>© 2020 Piptonita, este sitio esta bajo licencia MIT.</small>
        </section>
        <script src="{% static 'core/js/main.js' %}"></script>
    </body>
</html>