{% extends 'core/index.html' %}
{% load static %}

{% block article %}
    <section>
        <h3 class="titulo-articulo">{{tutorial.nombre}}</h3>
        <br>
        <div class="video">
            <iframe width="560" height="315" src="{{tutorial.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <div class="transcripcion">
            <h4>Transcripción</h4>
            {{ tutorial.transcripcion | safe }}
        </div>
        <div class="apartado-descarga">
            <div class="descarga">
                <p>Descargar la versión PDF</p>
                <br>
                <div class="boton">
                    <a href="{{tutorial.archivoPdf.url}}" target="_blank">DESCARGAR</a>
                </div>
            </div>
        </div>
    </section>
    
    <br>
    <br>
{% endblock %}
